<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="MemberMapper">
 	<resultMap type="com.ella.member.model.vo.Member" id="memberResultMap">
 		<id 	property="memberId"	  column="MEMBER_ID"/>
 		<result property="memberPw"   column="MEMBER_PW"/>
 		<result property="memberName" column="MEMBER_NAME"/>
 		<result property="gender"	  column="GENDER"/>
 		<result property="age" 		  column="AGE"/>
 		<result property="email" 	  column="EMAIL"/>
 		<result property="phone" 	  column="PHONE"/>
 		<result property="address" 	  column="ADDRESS"/>
 		<result property="hobby" 	  column="HOBBY"/>
 		<result property="regDate" 	  column="REG_DATE"/>
<!--  		컬럼명이랑 필드값이랑 같으면 생략 가능, pk라 id라 적음 -->
 	</resultMap>
 	<insert id="insertMember">
 		INSERT INTO MEMBER_TBL 
 		VALUES(#{memberId}, #{memberPw}, #{memberName}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby}, DEFAULT)
 	</insert>
 	<select id="checkLogin" resultMap="memberResultMap">
 		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw}
 	</select>
<!--  	select 할 떄 resultMap 무조건 적는거 까먹지 말기!!!!! -->
 	<select id="selectOneById" resultMap="memberResultMap">
 		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
 	</select>
 	<delete id="deleteMember">
 		DELETE FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
 	</delete>
 	<update id="updateMember">
 		UPDATE MEMBER_TBL SET EMAIL = #{email}, PHONE = #{phone}, ADDRESS = #{address}, HOBBY = #{hobby} WHERE MEMBER_ID = #{memberId}
 	</update>
 </mapper>